.navbar {
    background-color: #313ccc;
    height: 70px;
    width: 100%;
}


.navbar h2{
    width:200px;
    padding-left:50px;
    float:left;
}


.navbar .icons{
    padding-top:10px;
    padding-right:50px;
}
#settings {
    float: right;
    font-size: 3em;
    color: white;
    padding: 3px;
    padding-right: 10px;
    cursor: pointer;
}

#dashboard {
    cursor: pointer;
    color: white;
}
#user {
    float: right;
    font-size: 3em;
    color: white;
    padding: 3px;
    padding-right: 10px;
    cursor: pointer;
}

#logo {
    float: left;
    color: white;
}