/* You can add global styles to this file, and also import other style files */
body {
    background: #F8F8F8 !important;
    color: #606468;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
    margin: 0;
}