<h2>Task</h2>
<ul class="list-group">
  <li *ngFor="let task of tasks" class="list-group-item clearfix">{{task.task}}
    <span class="pull-right button-group">
        <button type="button" class="btn btn-danger" (click)="deleteTask(task.task_id)"><i class="fa fa-times" aria-hidden="true"></i></button>
      </span>
  </li>
</ul>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addTask">
    Add item
</button>

<!-- Modal -->
<div class="modal fade" id="addTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add task</h4>
            </div>
            <form (submit)="addTask(task_name)" novalidate>
                <div class="modal-body">
                    <input [(ngModel)]="task_name" mdInput placeholder="add" name="New task name" class="form-control" >
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">save Task</button>
                </div>
            </form>
        </div>
    </div>
</div>